extends layout

include mixins/_store-form

block content
    .container
        h2= title
        form(action=`/stores/${store._id}/edit` method="post" enctype="multipart/form-data")
            +storeForm(store)
            input(type="submit" class="btn btn-secondary mt-3" value="Update store")
