extends layout

include mixins/_store-form

block content
    .container
        h2= title
        .row
            .col-12
                .card.p-3
                    form(action=`/stores/${store._id}/edit` method="post" enctype="multipart/form-data")
                        +storeForm(store)
                        input(type="submit" class="btn btn-secondary btn-block mt-3" value="Update store")
