extends layout

include mixins/_login-form
include mixins/_forgot-password-form

block content
    .container
        h2 Login
        .row
            .col-12
                .card.p-3
                    +loginForm()
        h2.mt-3 Forgot my password
        .row
            .col-12
                .card.p-3
                    +forgotPasswordForm()
