extends layout

block content
    .container
        h2 Reset your password
        .row
            .col-12
                .card.p-3
                    form(method="post")
                        .form-group
                            label(for="password") Password
                            input(name="password" id="password" type="password" class="form-control")
                        .form-group
                            label(for="confirm-password") Confirm Password
                            input(name="confirm-password" id="confirm-password" type="password" class="form-control")
                        input(type="submit" class="btn btn-secondary btn-block mt-3" value="Change my password")
