extends layout

include mixins/_store-card
include mixins/_pagination

block content
    .container
        h2= title
        .row
            each store in stores
                +storeCard(store)
        .row
            .col-12.mt-4
                +pagination(page, pages, count)
